.box {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-li {
    display: inline;
    padding: 3%
}

.footer-li {
    display: inline;
    padding: 9%;
}

.photo {
    width: 30%;
    border: 5px solid #28a261;
}

.logo {
    width: 5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.6;
    color: #000000;
}

.header .box {
    background-color: #28a261;
}

.footer .box {
    background-color: #28a261;
}

.section-title {
    border-bottom: 5px solid #28a261;
}

.footer-li,
a {
    text-decoration: none;
    color: #ffffff;
}

#a-experience {
    color: #28a261;
}
